# ==================================
# General Python & System Files
# ==================================

# Byte-compiled/optimized files
__pycache__/
*.pyc

# Distribution / build directories
/dist/
/build/

# Environment variables
.env

# IDE and OS-specific files
.DS_Store
/.vscode/

# ==================================
# Project-Specific Exclusions
# ==================================

# Backup/test scripts and old versions
/src/bts/

# Image downloader script and its output
/src/processing/download_images.py
/src/processing/images/
