# ==================================
# General Python & System Files
# ==================================

# Byte-compiled/optimized files
__pycache__/
*.pyc

# Distribution / build directories
/dist/
/build/

# Environment variables
.env

# IDE and OS-specific files
.DS_Store
/.vscode/

/sourcefolio.egg-info/


